{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="row justify-content-center">

<div class="col-md-4">

<div class="card shadow">

<div class="card-header bg-primary text-white text-center">

<h3>Employee Login</h3>

</div>

<div class="card-body">

<form action="/dashboard">

<div class="mb-3">

<label>Username</label>

<input
type="text"
class="form-control"
required>

</div>

<div class="mb-3">

<label>Password</label>

<input
type="password"
class="form-control"
required>

</div>

<button
class="btn btn-primary w-100">

Login

</button>

</form>

</div>

</div>

</div>

</div>

{% endblock %}